package {{ package_name }}.command;
{% for import in import_list %}
import {{ import }};
{%- endfor %}
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

/**
 * <p>
 * {{ function_name }}对象修改
 * </p>
 *
 * @author {{ author }}
 * @since {{ datetime }}
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class {{ class_name }}Modify {
    {%- for field in fields %}
    {%- if field.gen_field.modifiable == 1  %}
    /**
     * {{ field.field.comment }}
     */
    private {{ field.gen_field.field_type }} {{ field.gen_field.field_name }};
    {%- endif -%}
    {% endfor %}
}