package {{ package_name }}.command;
{% for import in import_list %}
import {{ import }};
{%- endfor %}
import lombok.*;
import com.singularity.common.model.PageQuery;
import {{ package_name }}.entity.{{ class_name }}DO;

/**
 * <p>
 * {{ function_name }}对象查询参数
 * </p>
 *
 * @author {{ author }}
 * @since {{ datetime }}
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@EqualsAndHashCode(callSuper = false)
public class {{ class_name }}Query extends PageQuery<{{ class_name }}DO> {
    {% for field in fields %}
    {%- if field.gen_field.queryable == 1  %}
    /**
     * {{ field.field.comment }}
     */
    private {{ field.gen_field.field_type }} {{ field.gen_field.field_name }};
    {% endif -%}
    {% endfor %}
}