package {{ package_name }}.converter;

import {{ package_name }}.command.{{ class_name }}Create;
import {{ package_name }}.command.{{ class_name }}Modify;
import {{ package_name }}.command.{{ class_name }}Query;
import {{ package_name }}.vo.{{ class_name }}Detail;
import {{ package_name }}.vo.{{ class_name }}Page;
import {{ package_name }}.entity.{{ class_name }}DO;
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;

/**
 * <p>
 * {{ function_name }}对象转换器
 * </p>
 *
 * @author {{ author }}
 * @since {{ datetime }}
 */
@Mapper
public interface {{ class_name }}Converter {
    {{ class_name }}Converter INSTANCE = Mappers.getMapper({{ class_name }}Converter.class);

    {{ class_name }}DO {{ lowercase_class_name }}CreateTo{{ class_name }}DO ({{ class_name }}Create {{ lowercase_class_name }}Create);

    {{ class_name }}DO {{ lowercase_class_name }}ModifyTo{{ class_name }}DO ({{ class_name }}Modify {{ lowercase_class_name }}Modify);

    {{ class_name }}DO {{ lowercase_class_name }}QueryTo{{ class_name }}DO ({{ class_name }}Query {{ lowercase_class_name }}Query);

    {{ class_name }}Detail {{ lowercase_class_name }}DOTo{{ class_name }}Detail ({{ class_name }}DO {{ lowercase_class_name }}DO);

    {{ class_name }}Page {{ lowercase_class_name }}DOTo{{ class_name }}Page ({{ class_name }}DO {{ lowercase_class_name }}DO);

}