package {{ package_name }}.command;
{% for import in import_list %}
import {{ import }};
{%- endfor %}
import com.fasterxml.jackson.annotation.JsonFormat;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

/**
 * <p>
 * {{ function_name }}对象详情
 * </p>
 *
 * @author {{ author }}
 * @since {{ datetime }}
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class {{ class_name }}Detail {
    {% for field in fields %}
    {%- if field.gen_field.detailable == 1  %}
    /**
     * {{ field.field.comment }}
     */
    {%- if "time" in field.gen_field.field_name|lower %}
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    {%- endif %}
    private {{ field.gen_field.field_type }} {{ field.gen_field.field_name }};
    {% endif -%}
    {% endfor %}
}