package {{ package_name }}.controller;

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 * <p>
 * {{ function_name }} 前端控制器
 * </p>
 *
 * @author {{ author }}
 * @since {{ datetime }}
 */
@RestController
@RequestMapping("/{{ router_name }}")
public class {{ class_name }}Controller {

}