package {{ package_name }}.entity;
{% for import in import_list %}
import {{ import }};
{%- endfor %}
import java.io.Serializable;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
import com.fasterxml.jackson.annotation.JsonFormat;
import com.baomidou.mybatisplus.annotation.*;
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.singularity.common.model.CurrentUser;
import com.singularity.common.utils.SecurityUtil;

/**
 * <p>
 * {{ function_name }}对象 {{ table_name }}
 * </p>
 *
 * @author {{ author }}
 * @since {{ datetime }}
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@TableName("{{ table_name }}")
public class {{ class_name }}DO implements Serializable {
    private static final long serialVersionUID = 1L;

    public static final LambdaQueryWrapper<{{ class_name }}DO> lambdaQueryWrapper(){
        return new LambdaQueryWrapper<>();
    }
    
    public static {{ class_name }}DO fillInTenantIdUserId({{ class_name }}DO {{ lowercase_class_name }}DO){
      if ({{ lowercase_class_name }}DO == null){
            {{ lowercase_class_name }}DO = new {{ class_name }}DO();
        }
        CurrentUser currentUser = SecurityUtil.getCurrentUser();
        assert currentUser != null;
        {{ lowercase_class_name }}DO.setTenantId(currentUser.getCurrentTenantId());
        {{ lowercase_class_name }}DO.setUserId(currentUser.getUserId());
        return {{ lowercase_class_name }}DO;
    }
    {% for field in fields %}
    /**
     * {{ field.field.comment }}
     */
    {%- if field.gen_field.primary_key == 1  %}
    @TableId(value = "{{ primary_key }}", type = IdType.ASSIGN_ID)
    {%- endif %}
    {%- if field.gen_field.field_name == "createTime"  %}
    @TableField(fill = FieldFill.INSERT)
    {%- endif %}
    {%- if field.gen_field.field_name == "updateTime"  %}
    @TableField(fill = FieldFill.INSERT_UPDATE)
    {%- endif %}
    {%- if "time" in field.gen_field.field_name|lower %}
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    {%- endif %}
    private {{ field.gen_field.field_type }} {{ field.gen_field.field_name }};
    {% endfor %}
}