package {{ package_name }}.mapper;

import {{ package_name }}.entity.{{ class_name }}DO;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * <p>
 * {{ function_name }}Mapper接口
 * </p>
 *
 * @author {{ author }}
 * @since {{ datetime }}
 */
public interface {{ class_name }}Mapper extends BaseMapper<{{ class_name }}DO> {

}
