package {{ package_name }}.service;

import java.util.List;
import com.baomidou.mybatisplus.extension.service.IService;
import {{ package_name }}.entity.{{ class_name }}DO;
import {{ package_name }}.command.{{ class_name }}Query;

/**
 * <p>
 * {{ function_name }} 服务接口
 * </p>
 *
 * @author {{ author }}
 * @since {{ datetime }}
 */
public interface I{{ class_name }}Service extends IService<{{ class_name }}DO> {
    List<{{class_name}}DO> fetch{{class_name}}ByPage(int page, int size, {{class_name}}Query {{lowercase_class_name}}query);

}
