package {{ package_name }}.service;

import {{ package_name }}.entity.{{ class_name }}DO;
import com.baomidou.mybatisplus.extension.service.IService;

/**
 * <p>
 * {{ function_name }} 服务接口
 * </p>
 *
 * @author {{ author }}
 * @since {{ datetime }}
 */
public interface I{{ class_name }}Service extends IService<{{ class_name }}DO> {

}
