export interface {{class_name}}Create {
    {% for field in fields %}
    {%- if field.gen_field.creatable == 1  %}
    /** {{ field.field.comment }} */
    {{ field.gen_field.field_name }}: {{ field.gen_field.js_type }};
    {% endif -%}
    {% endfor %}
}

export interface {{class_name}}Modify {
    {% for field in fields %}
    {%- if field.gen_field.modifiable == 1  %}
    /** {{ field.field.comment }} */
    {{ field.gen_field.field_name }}: {{ field.gen_field.js_type }};
    {% endif -%}
    {% endfor %}
}

export interface {{class_name}}BatchModify {

    /** 主键列表 */
    {{ primary_key }}s: number[]
    {% for field in fields %}
    {%- if field.gen_field.modifiable == 1  %}
    /** {{ field.field.comment }} */
    {{ field.gen_field.field_name }}: {{ field.gen_field.js_type }};
    {% endif -%}
    {% endfor %}
}

export interface {{class_name}}Query {
    {% for field in fields %}
    {%- if field.gen_field.queryable == 1  %}
    /** {{ field.field.comment }} */
    {{ field.gen_field.field_name }}: {{ field.gen_field.js_type }};
    {% endif -%}
    {% endfor %}
}

export interface {{class_name}}Detail {
    {% for field in fields %}
    {%- if field.gen_field.detailable == 1  %}
    /** {{ field.field.comment }} */
    {{ field.gen_field.field_name }}: {{ field.gen_field.js_type }};
    {% endif -%}
    {% endfor %}
}

export interface {{class_name}}Page {
    {% for field in fields %}
    {%- if field.gen_field.pageable == 1  %}
    /** {{ field.field.comment }} */
    {{ field.gen_field.field_name }}: {{ field.gen_field.js_type }};
    {% endif -%}
    {% endfor %}
}